@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .gradient-1 {
    background: linear-gradient(322.68deg, #803eb4 36.47%, #4f25cc 92.31%);
  }

  .gradient-2 {
    background: radial-gradient(
      72.67% 72.67% at 0% 5.3%,
      #152a9d 41.67%,
      #131740 100%
    );
  }

  .gradient-3 {
    background: linear-gradient(90deg, #0d0035 0%, rgba(13, 1, 54, 0) 50%);
  }

  .gradient-4 {
    background: linear-gradient(272.3deg, #4f25cc -0.63%, #803eb4 99.75%);
  }
}
